<h2><i class="fas fa-paw"></i>ユーザー情報</h2>
  <div class="user-info">
    <div class="card mt-4 shadow-lg">
      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class: "m-3 rounded-circle"; %>
      <div class="card-body">
        <div class="row mx-auto">
          <h5><i class="fas fa-user"></i><%= user.name %></h5>
        </div>
        <div class="row mx-auto">
          <%= user.introduction %>
        </div>
        <p>
          <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </p>
        <div class="row mx-auto">
          <% if unchecked_notifications.any? %>
            <i class="fa fa-circle" style="color: gold;"></i>
          <% end %>
          <h5>
            <%= link_to notifications_path(current_user.id), class: "btn-default, text-dark" do %>
              <i class="fas fa-bell"></i>通知一覧
            <% end %>
          </h5>
        </div>
        <div class="row mx-auto">
          <h5>
            <%= link_to user_events_path(current_user.id), class: "btn-default, text-dark" do %>
              <i class="fa fa-calendar"></i>本日の予定
            <% end %>
          </h5>
          <% if @today_events.exists? %>
            <% @today_events.each do |today_event| %>
              ・<%= today_event.title %><br>
            <% end %>
          <% else %>
            <p>・特になし</p>
          <% end %>
        </div>
        <p class="mt-2">
          <h5><i class="fas fa-camera-retro"></i>新規投稿</h5>
          <%= link_to "新規投稿", new_post_path, class: "btn btn-success" %>
        </p>
      </div>
    </div>
  </div>