<div class="container">
  <h1 class="row m-3"><i class="fas fa-paw"></i>ユーザー情報編集</h1>
  <div class="row">
    <div class="col-12 m-3">
      <!--バリデーションによるエラーメッセージ-->
      <% if @user.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <%= @user.errors.count %>件のエラーが発生しました<br>
          <% @user.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        </div>
      <% end %>
      <!--ここまで-->
      <%= form_with model:@user, url:"/users/#{@user.id}", local:true do |f| %>
        <div class="form-group">
          <label for="inputName">ユーザー名</label>
          <p><%= f.text_field :name, autofocus: true, id: "inputName", placeholder: "ユーザー名" %></p>
        </div>
        <div class="form-group">
          <label for="inputProfileImage">プロフィール画像</label>
          <p><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></p>
        </div>
        <div class="form-group">
          <label for="inputIntroduction">自己紹介</label>
          <p><%= f.text_area :introduction, rows:'4', cols:'60' %></p>
        </div>
        <div class="form-group">
          <P><%= f.submit "更新", class: "btn btn-success" %></P>
          <p>
            <%= link_to "ユーザー詳細へ", user_path(@user.id) %>
            |
            <%= link_to "ユーザー一覧へ", users_path %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>