<div class="container mt-5">
  <h2 class="row m-3"><i class="fas fa-paw"></i>パスワードをお忘れですか？</h2>

  <div class="row">
    <div class="col-7">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field m-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions m-3">
        <%= f.submit "パスワードの再設定方法を送信する" %>
      </div>
      <% end %>
      <div class="field m-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
    <div class="col-2">
      <%= image_tag '1187328.jpg', size: '500x500' %>
    </div>
  </div>
</div>
