<div class="container mt-5">
  <div class="row">
    <div class="col-2">
      <%= render 'users/info', user: @user %>
    </div>
    <div class="col-9 offset-md-1">
      <h1><i class="fas fa-paw"></i>カレンダー</h1>
      <!--カレンダーの表示-->
      <div id="calendar"></div>
      <% if @user.id == current_user.id %>
        <div id="inputScheduleForm" class="modal fade" tabindex="-1">
          <div class="modal-dialog modal-nm">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">スケジュール登録</h4>
              </div>
              <div class="modal-body">
                <%= form_with model: @event, url: user_events_path do |f| %>
                  <div class="col">
                    <p>
                      <span>タイトル</span>
                      <span><%= f.text_field :title, class: "form-control", placeholder: "タイトルを入力してください" %></span>
                    </p>
                    <p>
                      <!--ラジオボタンの記述 checked: "checked"で初期値を選択した状態にする-->
                      <label><%= f.radio_button :allday, true, checked: "checked" %>終日</label><br>
                      <label><%= f.radio_button :allday, false %>時間指定</label><br>
                      <span>開始日時</span>
                      <span><%= f.datetime_field :start, class: "field", placeholder: "XXXX-XX-XX" %> ~ </span><br>
                      <span>終了日時</span>
                      <span><%= f.datetime_field :end, class: "field", placeholder: "XXXX-XX-XX" %></span>
                    </p>
                    <p>
                      <span>詳細内容</span>
                      <span><%= f.text_area :body, class: "form-control", placeholder: "予定の詳細を入力してください" %></span>
                    </p>
                  </div>
                  <div class="modal-footer">
                    <%= f.submit "登録する", class: "btn-js btn btn-primary" %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>
                    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div id="inputEditForm">
          <%= render 'events/edit', events: @events %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  // カレンダー表示内容
  $('#calendar').fullCalendar({
    plugin: ['dayGrid'],
    titleFormat: 'YYYY年 M月',
    dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
    header: {
      left: 'prev, next, today',
      center: 'month, agendaWeek, agendaDay',
      right: 'title'
    },
    buttonText: {
      prev: "<",
      next: ">",
      prevYear: "前年",
      nextYear: "翌年",
      today: "今日",
      month: "月",
      week: "週",
      day: "日"
    },
    timeFormat: "HH:mm",
    eventColor: '#99cc66',
    eventTextColor: '#000000',
    slotEventOverlap: false,
    timeZone: 'UTC',
    events: 'events/json',
    navLinks: true,
    selectable: true,
    selectHelper: true,
    defaultView: 'month',
    allDaySlot: true,
    allDayText: '終日',
    // 日付クリック
    dayClick : function ( date, jsEvent, view ) {
      $('#inputScheduleForm').modal('show');
    },
    // イベントクリックでモーダルフォーム表示（編集・削除）
    eventClick : function ( event, jsEvent, view ) {
      jsEvent.preventDefault();
      $(`#inputScheduleEditForm${event.id}`).modal('show');
    },
    eventMouseover : function( event, jsEvent, view ) {
      jsEvent.preventDefault();
    }
  })
</script>