<div class="container mt-5">
  <h1 class="row m-3"><i class="fas fa-paw"></i>投稿編集</h1>
  <div class="row">
    <div class="col-12 m-3">
      <%= form_with model:@post, url:"/posts/#{@post.id}", local:true do |f| %>
        <div class="form-group">
          <label for="inputPostImage">投稿画像</label>
          <p><%= f.attachment_field :post_image, placeholder: "投稿画像" %></p>
        </div>
        <div class="form-group">
          <label for="inputTitle">タイトル</label>
          <p><%= f.text_field :title, autofocus: true, placeholder: "タイトル" %></p>
        </div>
        <div class="form-group">
          <label for="inputBody">本文</label>
          <p><%= f.text_area :body, rows:'6', cols:'100' %></p>
        </div>
        <div class="form-group">
          <p><%= f.submit "更新", class: "btn btn-success" %></p>
          <p>
            <%= link_to "投稿詳細へ", post_path(@post.id) %>
            |
            <%= link_to "投稿一覧へ", posts_path %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>