<div class="container mt-5">
  <div class="row">
    <div class="col-2">
      <%= render 'users/info', user: @user %>
    </div>
    <div class="col-9 offset-md-1">
      <h1><i class="fas fa-paw"></i>みんなの投稿一覧</h1>
        <div class="card-list-container p-3">
          <% @posts.each do |post| %>
          <div class="row shadow-lg">
            <div class="col-4 my-auto">
              <%= link_to post_path(post.id) do %>
                <%= attachment_image_tag post, :post_image, :fill, 280, 300 %>
              <% end %>
            </div>
            <div class="col-8">
              <div class="card-body">
                <p>
                  <%= attachment_image_tag post.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", class: "mt-1 rounded-circle"; %>
                </p>
                <p class="card-title">
                  <%= link_to post_path(post.id), class: "text-dark" do %>
                    <h5 class="strong">
                      <i class="fas fa-paw"></i><span><%= post.title.truncate(20) %></span>
                    </h5>
                  <% end %>
                </p>
                <p class="card-text">
                  <%= post.body.truncate(120) %>
                </p>
                <span>
                  <i class="fas fa-user"></i> By <%= post.user.name %> |
                </span>
                <span>
                  <i class="fa fa-calendar"></i> <%= post.created_at.strftime('%Y/%m/%d') %> |
                </span>
                <span>
                  <i class="fa fa-comment"></i> <%= link_to "#{post.post_comments.count}", post_path(post.id), class: "text-dark" %> |
                </span>
                <span id="favorites_buttons_<%= post.id %>">
                  <%= render partial: 'favorites/favorite', locals: { post: post} %>
                </span>
              </div>
            </div>
          </div>
          <% end %>
        </div>
    </div>

  </div>
  <div class="row justify-content-center">
    <%= paginate @posts %>
  </div>
</div>