<!DOCTYPE html>
<html>
  <head>
    <title>DogsAndMePortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/1c69022796.js" crossorigin="anonymous"></script>
    <!--FullCalendarの読み込み-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <div class="container">
        <div class="row">
          <div class="col align-self-center">
            <div class="navbar-brand p-3">
              <%= link_to "LOGO", root_path %>
            </div>
          </div>
          <div class="col-align-self-center">
            <% if user_signed_in? %>
              <ul class="nav navbar-expand-lg navbar-right">
                <li class="nav-item m-3">
                  <%= link_to user_path(current_user.id), class: "btn btn-outline-secondary" do %>
                    <i class="fas fa-home"></i>ホーム
                  <% end %>
                </li>
                <li class="nav-item m-3">
                  <%= link_to posts_path, class: "btn btn-outline-secondary" do %>
                    <i class="fas fa-camera-retro"></i>投稿一覧
                  <% end %>
                </li>
                <li class="nav-item m-3">
                  <%= link_to users_path, class: "btn btn-outline-secondary" do %>
                    <i class="fas fa-users"></i>ユーザー一覧
                  <% end %>
                </li>
                <li class="nav-item m-3">
                  <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary" do %>
                    <i class="fas fa-sign-out-alt"></i>ログアウト
                  <% end %>
                </li>
              </ul>
            <% else %>
              <ul class="nav navbar-expand-lg navbar-right">
                <li class="nav-item m-3">
                  <%= link_to root_path, class: "btn btn-outline-secondary" do %>
                    <i class="fas fa-home"></i>ホーム
                  <% end %>
                </li>
                <li class="nav-item m-3">
                  <%= link_to about_path, class: "btn btn-outline-secondary" do %>
                    <i class="fas fa-dog"></i>サイト案内
                  <% end %>
                </li>
                <li class="nav-item m-3">
                  <%= link_to new_user_registration_path, class: "btn btn-outline-secondary" do %>
                    <i class="fas fa-user-plus"></i>新規登録
                  <% end %>
                </li>
                <li class="nav-item m-3">
                  <%= link_to new_user_session_path, class: "btn btn-outline-secondary" do %>
                    <i class="fas fa-sign-in-alt"></i>ログイン
                  <% end %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </header>

    <!--フラッシュメッセージ-->
    <% flash.each do |key, value| %>
      <p class="alert alert-<%= key %> mt-3">
        <%= value %>
      </p>
    <% end %>

    <!--10秒かけてアラートを消したい-->
    <script>
      $(function(){
      $(".alert").fadeOut(10000);
      });
　  </script>

    <%= yield %>

    <footer class="shadow-sm mt-5">
      <div class="container">
        <p class="text-muted text-center">
          © All rights reserved by Otaka.
        </p>
      </div>
    </footer>
  </body>
</html>
